NEXT_PUBLIC_API_DOMAIN=   # a certain green website
NEXT_PUBLIC_API_KEY=      # a API key to access a certain green website
NEXT_PUBLIC_USER_ID=      # a user ID for an account on a certain green website